[project]
	description = test gerri
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/harishgunturu
[access "refs/for/refs/*"]
	read = group user/harishgunturu
	push = group user/harishgunturu
	label-Code-Review = -2..+2 group user/harishgunturu
	label-Verified = -1..+1 group user/harishgunturu
	rebase = group user/harishgunturu
	removeReviewer = group user/harishgunturu
	submit = group user/harishgunturu
[access "refs/heads/*"]
	read = group user/harishgunturu
	create = group user/harishgunturu
	push = +force group user/harishgunturu
	pushMerge = group user/harishgunturu
[access "refs/tags/*"]
	push = +force group user/harishgunturu
	pushTag = group user/harishgunturu
	pushSignedTag = group user/harishgunturu
